// Default variable overrides
$body-bg: #000;
$body-color: #F584EB;


// Theme Colors
$primary: #6CF599;
$secondary: #F584EB; 


// Custom Colors
$custom-colors: {
    $bc-aqua: #78F5E8;
    $bc-orange: #F58753;
    $bc-blue: #78ADF5;
    $bc-purple: #AC84F5;
    $bc-l-primary: #6CF599;
    $bc-l-orange: #f5BD53;
    $bc-yellow: #FAF375;
}

$theme-colors: map-merge($theme-colors, $custom-colors)

h1 {
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px $dark;
}
h2{
    font-family: 'Oleo', cursive;
    text-shadow: 3px 3px $dark;
}
p {
    font-family: 'Koulen', cursive;
}


.navbar-brand {
    font-family: 'Pacifico';
}

// Bootstrap from Node Modules
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&display=swap');